
@{
    ViewBag.Title = "RegUser";
}

<h2>RegUser</h2>

@ViewBag.User.Login <br/>
@ViewBag.User.PassSalt <br/>
@ViewBag.User.PassHash <br/>
@ViewBag.User.RealName <br/>
@ViewBag.User.Status <br/>
@ViewBag.User.Email <br/>
@ViewBag.User.AvatarFile <br/>
@ViewBag.User.ShownData <br/>
